*{
  margin: 0%;
}

.weather {
  text-align: center;
  // background-color: aquamarine;
  background-image: url(../../img/background.jpeg);
  background-size: cover;
  height: 100vh;
  width: 100vw;

  // .fadeIn {
  //   animation-name: fadeInAnime;/*1で解説*/
  //   animation-fill-mode:backwards;/*2で解説*/
  //   animation-duration:3s;/*3で解説*/
  //   animation-iteration-count:infinite;/*4で解説*/
  //   animation-timing-function:ease;/*5で解説*/
  //   animation-delay: 0.5s;/*6で解説*/
  //   animation-direction:normal;/*7で解説*/
  //   }
    
    /*1で解説*/
    @keyframes fadeInAnime{
      0% {
        opacity: 0;
      }
    
      100% {
        opacity: 1;
      }
    }

  &-targetArea {
    h1 {
      font-size: 40px;
      color: rgba(2, 2, 2, 0.878);
      font-family: 'Kosugi Maru', sans-serif;
      line-height: 80px;
    }
  }

//   .toggle-menu{
//     h1{
//     text-align: center;
//     font-size:35px;
//     font-weight: 700;
//     line-height: 80px;
//     color: black;
//     font-family: 'Kosugi Maru', sans-serif;
//     cursor: default;
//   }
// }


// .toggle_menu {
//   font-size: 18px;
//   display: none;
//   line-height: 50px;
//   box-sizing: border-box;
//   cursor: default;
// }


  &-conteinar {
    display: flex;
    // border: solid 1px black;
    height: 85vh;
    width: 100vw;
    justify-content: center;

    h1 {
      font-size: 40px;
      line-height: 70px;
      font-family: 'Kosugi Maru', sans-serif;
      color: rgb(206, 3, 80);
    }
  }

  &-today,
  &-tomorrow,
  &-dayAfterTomorrow {
    border: double 4px rgba(0, 0, 0, 0.697);
    width: 350px;

  }


  .area-weathers,
  .area-weathers1,
  .area-weathers2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 30px;
    font-weight: 650;
    color: rgba(0, 0, 0, 0.793);
    height: 20%;
    letter-spacing: -0.1em;
    line-height: 48px;
    font-family: 'Kosugi Maru', sans-serif;
  }


  &-fhoto {
    // background-color: aquamarine;
    height: 20%;

  }

  &-wind,
  &-wind1,
  &-wind2 {
    // background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5%;
    font-size: 25px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.853);
    font-family: 'Kosugi Maru', sans-serif;
  }

  &-waves,
  &-waves1,
  &-waves2 {
    // background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15%;
    font-size: 25px;
    font-weight: 700;
    line-height: 40px;
    color: rgba(0, 0, 0, 0.866);
    font-family: 'Kosugi Maru', sans-serif;
  }

  // .weatherの最後

}

